<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="mybeahavior">
                    <serviceMetadata httpGetEnabled="true" />
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <services>
            <service behaviorConfiguration="mybeahavior" name="HzDataService.CaseService">
                <endpoint address="" binding="netNamedPipeBinding" bindingConfiguration=""
                    name="netnamed" contract="HzDataService.ICase" />
                <host>
                    <baseAddresses>
                        <add baseAddress="net.pipe://192.168.1.173" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
</configuration>