<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IPhone" clientBaseAddress="http://localhost:1122/client" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8899/phone" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IPhone" contract="ServiceReference1.IPhone"
                name="WSDualHttpBinding_IPhone" />
        </client>
    </system.serviceModel>
</configuration>