<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexdata">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexdata" name="HzDataService.CaseService">
        <endpoint address="myway" binding="basicHttpBinding" bindingConfiguration="mybding"
          name="epname" contract="HzDataService.ICase" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5566/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="mybding" maxBufferSize="188888888" maxReceivedMessageSize="188888888"></binding>
      </basicHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>