<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_ICase">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:5566/myway" binding="wsHttpBinding"
                bindingConfiguration="WSHttpBinding_ICase" contract="ServiceReference1.ICase"
                name="WSHttpBinding_ICase" />
        </client>
    </system.serviceModel>
</configuration>