<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="netnamed" maxReceivedMessageSize="2147483647" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://localhost/" binding="netNamedPipeBinding"
                bindingConfiguration="netnamed" contract="ServiceReference1.ICase"
                name="netnamed">
                <identity>
                    <userPrincipalName value="DESKTOP-B0BEAQ7\ysj" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>