<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netNamedPipeBinding>
                <binding name="netnamed" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
                    <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
                        maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
                </binding>
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="net.pipe://192.168.1.173/" binding="netNamedPipeBinding"
                bindingConfiguration="netnamed" contract="ServiceReference1.ICase"
                name="netnamed">
                <identity>
                    <userPrincipalName value="DESKTOP-B0BEAQ7\ysj" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>