<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="Default">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="Default" name="ResutService.ServiceType">
        <endpoint address="" binding="webHttpBinding" behaviorConfiguration="webBehavior"
            contract="ResutService.IContractName" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8899/testservice" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>