<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="IDeptEndPoint" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="ICaseEndPoint" maxReceivedMessageSize="88888888" />
                <binding name="IUserEndPoint" maxReceivedMessageSize="88888888" />
                <binding name="ICameraEndPoint" />
                <binding name="ICaseEndPoint1" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://192.168.1.173:7788/icase" binding="netTcpBinding"
                bindingConfiguration="ICaseEndPoint" contract="ServiceReference1.ICase"
                name="ICaseEndPoint">
                <identity>
                    <userPrincipalName value="DESKTOP-B0BEAQ7\ysj" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://192.168.1.173:7788/iuser" binding="netTcpBinding"
                bindingConfiguration="IUserEndPoint" contract="ServiceReference1.IUser"
                name="IUserEndPoint">
                <identity>
                    <userPrincipalName value="DESKTOP-B0BEAQ7\ysj" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://192.168.1.173:7788/icamera" binding="netTcpBinding"
                bindingConfiguration="ICameraEndPoint" contract="ServiceReference1.ICamera"
                name="ICameraEndPoint">
                <identity>
                    <userPrincipalName value="DESKTOP-B0BEAQ7\ysj" />
                </identity>
            </endpoint>
            <endpoint address="http://192.168.1.173:5566/idept" binding="basicHttpBinding"
                bindingConfiguration="IDeptEndPoint" contract="ServiceReference2.IDept"
                name="IDeptEndPoint" />
            <endpoint address="net.tcp://192.168.1.173:7789/iprogramer" binding="netTcpBinding"
                bindingConfiguration="ICaseEndPoint1" contract="ServiceReference3.IProgramer"
                name="ICaseEndPoint1">
                <identity>
                    <userPrincipalName value="DESKTOP-B0BEAQ7\ysj" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>