<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mybehavior">
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding>
        <binding name="mywsHttpBinding" >
          <security mode="None"></security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <services>
      <service name="HzDataService.CaseService" behaviorConfiguration="mybehavior">
        <endpoint address="" binding="wsHttpBinding"  bindingConfiguration="mywsHttpBinding"  contract="HzDataService.ICase"></endpoint>
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5566/myway"/>
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>