<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="maxlength" maxBufferSize="88888888" maxReceivedMessageSize="88888888">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647"
            maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </netTcpBinding>

      <basicHttpBinding>
        <binding name="maxlengthex"></binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="MyBehavior" name="HzDataService.CaseService">
        <endpoint address="icase" binding="netTcpBinding" bindingConfiguration="maxlength"
          name="ICaseEndPoint" contract="HzDataService.ICase" />
        <endpoint address="mex" binding="mexTcpBinding" name="mexEndPoint"
          contract="IMetadataExchange" />
        <endpoint address="iuser" binding="netTcpBinding" bindingConfiguration="maxlength"
          name="IUserEndPoint" contract="HzDataService.IUser" />
        <endpoint address="icamera" binding="netTcpBinding" bindingConfiguration="maxlength"
          name="ICameraEndPoint" contract="HzDataService.ICamera" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7788/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="MyBehavior" name="HzDataService.ProgramerService">
        <endpoint address="iprogramer" binding="netTcpBinding" bindingConfiguration="maxlength"
          name="ICaseEndPoint" contract="HzDataService.IProgramer" />
        <endpoint address="mex" binding="mexTcpBinding" name="mexEndPoint"
          contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:7789/" />
          </baseAddresses>
        </host>
      </service>

      <service behaviorConfiguration="httpBeahvior" name="HzDataService.DeparmentService">
        <endpoint address="idept" binding="basicHttpBinding" name="IDeptEndPoint" bindingConfiguration="maxlengthex"
          contract="HzDataService.IDept" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:5566/" />
          </baseAddresses>
        </host>
      </service>
    </services>

    <behaviors>
      <serviceBehaviors>
        <behavior name="MyBehavior" >
          <serviceMetadata/>
          <!--<serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>-->
        </behavior>

        <behavior name="httpBeahvior" >
          <serviceMetadata httpGetEnabled="true" />
          <!--<serviceDebug includeExceptionDetailInFaults="true" />
          <dataContractSerializer maxItemsInObjectGraph="6553600"/>-->
        </behavior>
      </serviceBehaviors>
    </behaviors>

  </system.serviceModel>
</configuration>