<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="epname" maxBufferSize="188888888" maxReceivedMessageSize="188888888" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://192.168.1.173:5566/myway" binding="basicHttpBinding"
                bindingConfiguration="epname" contract="ServiceReference1.ICase"
                name="epname" />
        </client>
    </system.serviceModel>
</configuration>